@import './vars.css';
<<<<<<< HEAD
html {
  font-family: 'Open Sans', sans-serif;
=======

html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: var(--font-base-size);
>>>>>>> first commit
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

<<<<<<< HEAD
html,
body,
body > div,
body > div > div {
  height: 100%;
}

h1,
h2,
h3,
title {
  font-family: 'Montserrat', sans-serif;
}
=======
html, body, body > div, body > div > div {
  height: 100%;
}
>>>>>>> first commit
